.cart {
    padding: 5px 87px;
    background-color: honeydew;
    position: relative;
}

.deleteItem {
  position: absolute;
  top: -5px;
  right: 9px;
  cursor: pointer;
  color: red;
  font-size: 35px;

  &:hover {
    color: orange;
  }
}

.cartImg {
    height: 127px;
    margin-bottom: 10px;
}

.title,
.price {
    color: aquamarine;
}
