.card {
    width: 310px;
    margin-bottom: 4%;
}

.cardImg {
    height: 300px;
}

.toCart {
    border: none;
    color: red;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;

    &:hover {
        color: white;
        background-color: orange;
        font-weight: 700;
    }
}
