.cart {
    padding: 5px 87px;
    background-color: honeydew;
  position: relative;
}

.starIconOn {
  position: absolute;
  right: 9px;
  cursor: pointer;
}

.cartImg {
    height: 127px;
    margin-bottom: 10px;
}

.title,
.price {
    color: aquamarine;
}
